
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.pth
*.pt

.ipynb_checkpoints

ML_NLP/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db


*.bin
*.safetensors

data/
datasets/
*.csv
*.json
*.txt
*.tsv

logs/
wandb/
mlruns/
outputs/
reports/*.png
reports/*.pdf

.cache/
.huggingface/
.transformers_cache/

tmp/
temp/
